.Conceptos h4, .Conceptos img {
    display: inline-block;
    vertical-align: middle;
}

.Conceptos img {
    margin-right: 5px; /* Ajusta el margen según tu preferencia */
}
.Conceptos2 li, .Conceptos2 img {
    display: inline-block;
    vertical-align: middle;
}

.Conceptos2 img {
    margin-right: 5px; /* Ajusta el margen según tu preferencia */

}

.Conceptos3 .inline-image {
    max-width: 20%;
    max-height: 100%; /* La altura se ajustará automáticamente para mantener la proporción */
    display: inline-block;
    margin-right: 5px; /* Ajusta el margen según tu preferencia */
}
.Conceptos4 li, .Conceptos2 img {
    display: inline-block;
    vertical-align: middle;
}

.Conceptos4 img {
    max-width: 20%;
    max-height: 100%; /* La altura se ajustará automáticamente para mantener la proporción */
    display: inline-block;
    margin-right: 5px; /* Ajusta el margen según tu preferencia */

}
.Conceptos5 .inline-image2 {
    max-width: 20%;
    max-height: 100%; /* La altura se ajustará automáticamente para mantener la proporción */
    display: inline-block;
    margin-right: 5px; /* Ajusta el margen según tu preferencia */
}
.Conceptos7 .inline-image3 {
    max-width: 20%;
    max-height: 100%; /* La altura se ajustará automáticamente para mantener la proporción */
    display: inline-block;
    margin-right: 5px; /* Ajusta el margen según tu preferencia */
}
.Conceptos h4,
.Conceptos img,
.Conceptos2 li,
.Conceptos2 img,
.Conceptos3 .inline-image,
.Conceptos4 li,
.Conceptos4 img,
.Conceptos5 .inline-image2,
.Conceptos7 .inline-image3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; /* Ajusta el margen según tu preferencia */
}

/* Estilos específicos para tamaños de pantalla más pequeños (móviles) */
@media screen and (max-width: 767px) {
    .Conceptos img,
    .Conceptos2 img,
    .Conceptos3 .inline-image,
    .Conceptos4 img,
    .Conceptos5 .inline-image2,
    .Conceptos7 .inline-image3 {
        max-width: 100%; /* Ajusta el ancho según tu preferencia */
        height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    }
}